.container-1 {
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  padding: 0 15px;        
  box-sizing: border-box; 
  margin-top: 100px;
}

.section {
  padding: 60px 100px;
  overflow: hidden;
  text-align: center;
}

.section-bg {
  background-color: white;
}

.section-title {
  justify-content: center; 
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 90px;
}


.section-title h3 {
  display: flex;
  justify-content: center; 
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: white;

}
.section-title h4 {
  display: flex;
  justify-content: center; 
  margin: 15px 0 0 0;
  font-size: 22px;
  font-weight: 500;
  color: white;

}


.section-title h3 span {
  color: #e43c5c;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-left {
  flex: 1;
  padding-left: 100px; 
  padding-right: 20px; 
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.col-left p
{line-height: 1.8;
  font-family: 'Poppins', sans-serif;

}

.col-right {
  flex: 1;
  padding-left: 60px;
  padding-right: 100px;
  text-align: left;
   font-family: 'Poppins', sans-serif;
}

h3 {
  margin-top: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

i {
  margin-right: 8px;
}

#about .content h3 {
    font-weight: 600;
    font-size: 26px;
    color: gray;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }
  
  .about .content ul li+li {
    margin-top: 10px;
  }
  
  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: white;
    line-height: 1;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  
  }
  
  .about .content .btn-learn-more {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: #e43c5c;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #e43c5c;
  }
  
  .about .content .btn-learn-more:hover {
    background: #e43c5c;
    color: #fff;
    text-decoration: none;
  }
  
  .counts {
    padding: 70px 0 60px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .counts .row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
  }
  
  .counts .count-box {
    width: 250px; 
    height: 80px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px; 
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    position: relative;
  }
  
  .counts .count-box i {
    font-size: 24px; 
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    color: #18d26e;
    border-radius: 50%;
    position: absolute; 
    top: -3px;
    transform: translateY(-50%); 
    margin: 0 auto;
  }
  
  .counts .count-box span {
    font-size: 36px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
  }
  
  .counts .count-box p {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #ddd;
  }
  
  
  .map-container {
    text-align: center;
    margin: 0; 
    padding: 0; 
  }
  
  .map-container iframe {
    border: 0;
    width: 100%;
    height: 300px;
    margin: 0; 
    padding: 0; 
  }

  .image-row {
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 20px;
  }
  
  .image-row img {
    max-width: 100%; 
    height: auto; 
    width: 600px; 
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10%;
  }
  
  