.container-1 {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    padding: 0 15px;   
    padding-bottom: 50px;     
   
  }
  
  .section-title h3 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .section-title p {
    font-size: 28px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .section-title h5 {
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 5px;
  }

  .section-title h3 span {
    color: #e43c5c; 
  }
  
  .contact .info {
    width: 100%;
    background: #280000;
    padding-left: 100%;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #e43c5c;
    float: left;
    width: 44px;
    height: 44px;
    background: #fdeff2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding-left: 10%;
    padding-top: 0;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: gray;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: white;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #e43c5c;
    color: #fff;
  }
  
  .contact .php-email-form {
    background: #280000;
    padding-bottom: 30px;
    margin-right: 200px;
    width: 700px;
    
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  

  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    width: 330px;
    border-radius: 10px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #e43c5c;
  }
  
  .contact .php-email-form input {
    height: 50px;
  }
  
  .contact .php-email-form textarea {
    padding: 50px 12px;
    width: 670px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #e43c5c;
    border: 0;
    padding: 10px 28px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    width: 200px;
    height: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #d01d3f;
  }
  
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .map-container {
    text-align: center;
    margin: 0; 
    padding: 0; 
  }
  
  .map-container iframe {
    border: 0;
    width: 100%;
    height: 300px;
    margin: 0; 
    padding: 0; 
  }
  
  .container-1,
.contact .row {
  margin: 0;
  padding: 0;
}
