
.content-container {
  display: flex; 
  justify-content: space-between; 
  margin-top: 20px;
  padding: 0 20px;
}

.left-column1 {
  flex: 1; 
  padding-right: 20px;
  padding-left: 80px;
}

.right-column1 {
  flex: 1; 
  padding-left: 20px; 
  padding-right: 80px;
}

.left-column1 .seat-selection {
  margin-bottom: 20px;
}


.content-container > div {
  box-sizing: border-box;
}


.booking-section {
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  margin-top: -27px;
  padding-top: -10px; 
}

.curve {
  position: relative;
  left: 50%; 
  transform: translateX(-50%); 
  border-radius: 50%;
  margin-top: -40px;
  margin-bottom: 0px; 
  padding-top: 0px;
  width: 550px;
  height: 90px; 
  border-bottom: 5px solid #a53518; 
  border-bottom-left-radius: -650px; 
  border-bottom-right-radius: -550px; 
}


.screen-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #a53518;
}


.seat-selection {
  margin-top: 10px;
}

.seats-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin: 0px 0; 
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.selected {
  background-color: transparent;
}

.sofa-icon {
  font-size: 40px;
}

.seat-row-split {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-row-split .left-column,
.seat-row-split .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-row-split .left-column {
  margin-right: 15px; 
  margin-bottom: 0px;
  
}

.seat-row-split .right-column {
  margin-left: 20px; 
}

.seat-row-split .left-column .seat,
.seat-row-split .right-column .seat {
  width: 30px;
  height: 20px;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.seat-row-split-wide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-row-split-wide .sofa-icon {
  width: 55px;
  font-size: 50px;
}

.seat-row-split-wide .left-column,
.seat-row-split-wide .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 55px; 
  margin-left: 55px;
}

.seat-row-split-wide .left-column {
  margin-right: 15px;
}

.seat-row-split-wide .right-column {
  margin-left: 15px;
}

.seat-row-split-wide .middle-space {
  width: 100px; 
  background-color: transparent;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.seat.selected .sofa-icon {
  color: #b15513; 
}

.seat .sofa-icon {
  color: white; 
}

.seat-legend {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px; 
}

.sofa-icon.gray-seat {
  color: white; 
  width: 30px;
}

.sofa-icon.white-seat {
  color: gray; 
  width: 30px;
}

.sofa-icon.brown-seat {
  color: #b15513; 
  width: 30px;
}
.date-selection {
  display: flex;
  align-items: center;
}

.date-label {
  font-size: 23px;
  margin-right: 15px; 
  text-align: left;
  padding-top: 20px;
}

.custom-date-picker-input {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.date-picker-input {
  flex: 1;
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  border: 5px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 14px;
  width: 100px; 
  max-width: 100%;
}

.calendar-icon {
  position: absolute; 
  right: 10px; 
  top:62%; 
  transform: translateY(-50%);
  font-size: 16px;
  color: #a53518; 
  pointer-events: none; 
}

.showtime-selection {
  margin-bottom: 20px;
  padding: 10px 0; 
}

.showtime-label {
  display: block; 
  font-size: 23px;
  margin-bottom: 20px;
  text-align: left;
  padding-top: 10px;
}

.showtime-label::after {
  content: ''; 
  display: block;
  height: 1px;
  background-color: #a53518; 
  margin-top: 20px; 
}

.showtime-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 0px;
}

.showtime-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: white;
}

.showtime-button:hover {
  background-color: gray;
}

.showtime-button.selected {
  background-color: #a53518;
  color: white;
}

.showtime-selection::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #a53518; 
  margin-top: 20px; 
}

.booking-summary {
  text-align: left; 
}

.booking-summary h2 {
  margin-bottom: 20px; 
}

.booking-summary p {
  margin: 5px 0;
  padding-left: 50px;
  font-size: 20px;
}

.booking-summary strong {
  font-weight: bold;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

.action-button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.action-button.pay {
  background-color: #28a745;
  color: white;
}
.action-button.confirm {
  background-color: #28a745;
  color: white;
}

.action-button.update {
  background-color: #ffc107;
  color: black;
}

.action-button.delete {
  background-color: #dc3545;
  color: white;
}

.action-button:hover {
  opacity: 0.8;
}

.message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #350000;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  z-index: 1000;
  border-radius: 8px;
}

.message-box p {
  margin: 0 0 10px;
  color: white;
}

.message-box button {
  background: #690202;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.message-box button:hover {
  background: #da0303;
}

.gray-seat1 {
  color: gray !important; 
  pointer-events: none; 
  cursor: not-allowed;
}

.selected {
  color: brown; 
}

.seat.booked {
  background-color: gray;  
  pointer-events: none;    
}

.gray-seat1 .sofa-icon {
  color: gray !important;
}

.gray-seat1 {
  pointer-events: none; 
}


.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal-content {
  background-color: #350000;
  padding: 20px;
  border-radius: 25px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  border: 1px solid #ccc;
}

.modal-text {
  text-align: left; 
}

.modal-text h3 {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}

.modal-text p {
  color: white;
  margin: 0;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
}

.confirmation-modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.yes-button {
  background-color: #690202;
  color: white;
  width: 80px;
  border-radius: 25px;
}

.yes-button:hover {
  background-color: #da0303;
}

.no-button {
  background-color: gray;
  color: white;
  width: 80px;
  border-radius: 25px;
}

.no-button:hover {
  background-color: rgb(162, 161, 161);
}

