.booking-section {
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  padding-top: -10px; 
}

.curve {
  position: relative;
  left: 50%; 
  transform: translateX(-50%); 
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 0px; 
  width: 550px;
  height: 90px; 
  border-bottom: 5px solid #a53518; 
  border-bottom-left-radius: -650px; 
  border-bottom-right-radius: -550px; 
}


.screen-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #a53518;
}


.seat-selection {
  margin-top: 10px;
}

.seats-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin: 0px 0; 
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.selected {
  background-color: transparent;
}

.sofa-icon {
  font-size: 40px;
}

.seat-row-split {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-row-split .left-column,
.seat-row-split .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-row-split .left-column {
  margin-right: 15px; 
  margin-bottom: 0px;
  
}

.seat-row-split .right-column {
  margin-left: 20px; 
}

.seat-row-split .left-column .seat,
.seat-row-split .right-column .seat {
  width: 30px;
  height: 20px;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.seat-row-split-wide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat-row-split-wide .sofa-icon {
  width: 55px;
  font-size: 50px;
}

.seat-row-split-wide .left-column,
.seat-row-split-wide .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 55px; 
  margin-left: 55px;
}

.seat-row-split-wide .left-column {
  margin-right: 15px;
}

.seat-row-split-wide .right-column {
  margin-left: 15px;
}

.seat-row-split-wide .middle-space {
  width: 100px; 
  background-color: transparent;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.seat.selected .sofa-icon {
  color: #b15513; 
}

.seat .sofa-icon {
  color: white; 
}

.seat-legend {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px; 
}

.sofa-icon.gray-seat {
  color: white; 
  width: 30px;
}

.sofa-icon.white-seat {
  color: gray; 
  width: 30px;
}

.sofa-icon.brown-seat {
  color: #b15513; 
  width: 30px;
}
