.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.movie-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.movie-header img {
  max-width: 80%;
  max-height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.movie-info {
  font-size: 18px;
  margin: 15px 0;
}

.movie-video {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}

.movie-poster {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 20px;
  margin-left: 100px;
}


.movie-description {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  color: white;
  min-height: 100vh;
}

.movie-description h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}


.movie-description p {
  font-size: 1.2rem;
  margin-top: 20px;
}

.movie-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  padding: 0;
  background-color: var(--black);
  color: white;
  overflow: hidden;
  display: flex;
  padding-top: 50px;
  align-items: flex-start;
}

.movie-background {
  position: absolute;
  top: 0;
  left: 40%; 
  width: 60%;
  height: 100%;
  z-index: -1;
  transform: translateX(-20%); 
  overflow: hidden;
}

.backdrop-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;  
  background-position: center center; 
  filter: blur(2px);
  opacity: 0.3;
  position: relative; 
}

.backdrop-img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
  background: linear-gradient(
    90deg, 
    rgba(4, 21, 45, 0) 0%, 
    #280000 79.17% 
  );
  pointer-events: none;
}

.opacity-layer {
  width: 100%;
  height: 250px;
  background: linear-gradient(
    180deg,
    rgba(4, 21, 45, 0) 0%,
    #280000 79.17%
  );
  position: absolute;
  bottom: 0;
  right: 10;  
}

.movie-left {
  flex: 0 0 auto; 
  margin-left: 50px; 
  padding: 0; 
  width: 350px;
  text-align: left;
}

.movie-poster {
  width: 107%;
  height: auto;
  border-radius: 20px;
}

.movie-right {
  flex: 1; 
  padding-left: 160px; 
  max-width: calc(100% - 350px);
  text-align: left;
}

.movie-right h1 {
  font-size: 3rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.movie-right p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.movie-genre {
  display: inline-block; 
  background-color: rgb(241, 80, 107); 
  color: white; 
  font-size: 0.9rem;
  padding: 2px 6px; 
  border-radius: 7px; 
  margin-bottom: 0px;
  font-weight: 100px; 
  margin-right: 5px;
  
}

.play-button {
  background-color: transparent; 
  color: white; 
  padding: 25px;
  border: 3.3px solid white;
  border-radius: 50%; 
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-button i {
  font-size: 28px; 
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;

}

.play-button:hover {
  border-color: #f55f7a; 
}

.play-button:hover i {
  color: #f55f7a;
}


.blur-container {
  transition: filter 0.3s ease;
}

.blur-container.blurred {
  filter: blur(5px);
  pointer-events: none; 
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 15, 15, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-overlay iframe {
  z-index: 1001;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 85px;
  right: 370px;
  background: transparent;
  border: none;
  color: gray;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1002;
  font-weight: bold;
}

.close-button:hover {
  color: white;
}


.play-trailer-container {
  display: flex; 
  align-items: center; 
  gap: 10px;
}

.watch-trailer-text-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.watch-trailer-text {
  font-size: 18px; 
  font-weight: bold;
  color: #ffffff;
  margin: 0; 
  padding-right: 35px;
  padding-left: 10px;
}


.book-seat-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 50px;
  height: 50px;
  background-color: transparent; 
  border: 3.3px solid white;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.book-seat-button i {
  margin-right: 8px; 
  font-size: 28px; 
}


.description {
  background: none !important;
  margin: 0; 
  padding-right: 150px;
  font-size: 20px;
}

.common-styles {
  display: flex;
  gap: 20px;
  width: 100%; 
  max-width: calc(100% - 120px); 
  padding-top: 8px;
}

.details {
  border-bottom: 0.3px solid gray;
  padding-bottom: 13px; 
}

.details p,
.writer p {
  margin: 0; 
  font-size: 17px;
}


.release-date-value {
  color: gray;
  font-weight: bolder;
}
